// 重置样式
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  color: #333;
  min-width: 1240px;
  font-family: Microsoft JhengHei;

  // font:;
  // 1em/1.4 'Microsoft Yahei',
  // 'PingFang SC',
  // 'Avenir',
  // 'Segoe UI',
  // 'Hiragino Sans GB',
  // 'STHeiti',
  // 'Microsoft Sans Serif',
  // 'WenQuanYi Micro Hei',
  // sans-serif;
}

body,
ul,
h1,
h3,
h4,
p,
dl,
dd {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  width: 1250px;
  margin: 0 auto;
}